<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag "modal-frame" do %>
  <%= render @post %>
<% end %>

<div class="mt-8">
  <%= link_to "Back to posts", posts_path, class: "p-1 rounded border border-orange-600 text-orange-600" %>
</div>
